@{
    ViewData["Title"] = "Home Page";
}

<div class="chart-container bar-chart">
    <canvas id="canvas-bar"></canvas>
</div>
<div class="chart-container bar-chart">
    <canvas id="canvas-line"></canvas>
</div>
<script>

</script>
<style>
    .chart-container {
        max-height: 700px;
        max-width: 800px;
        padding-top: 50px;
        height: 500px;
        width: 800px;
    }

        /*@@media screen and (max-width: 600px) {
        .chart-container {
            margin-top: 20px;
        }

        .chart-title {
            margin-bottom: 10px;
        }
    }*/

        .chart-container .chart-title {
            font-size: 16px;
            color: #173c56;
            text-align: left;
            font-weight: bold;
        }

        .chart-container.hidden {
            display: none;
        }
</style>
